{%- macro print_field(field, varname) -%}
{%- if 'format' in field %}
{%- if 'enum' in field['format'] %}
printf("{{field.human_name}}: %s\n", map_lookup({{varname}}->{{field.name}}, {{field['format']['enum']}}));
{%- elif 'hex' in field['format'] %}
{%- if field.length == 1 -%}
printf("{{field.human_name}}: 0x%02X\n", {{varname}}->{{field.name}});
{%- elif field.length == 2 -%}
printf("{{field.human_name}}: 0x%04X\n", {{varname}}->{{field.name}});
{%- elif field.length == 4 -%}
printf("{{field.human_name}}: 0x%08X\n", {{varname}}->{{field.name}});
{%- elif field.length == 8 -%}
printf("{{field.human_name}}: 0x%08X\n", {{varname}}->{{field.name}});
{%- endif %}
{%- elif 'bitfield' in field['format'] %}
{%- if field.length == 1 -%}
printf("{{field.human_name}} (0x%02X): ", {{varname}}->{{field.name}});
{%- elif field.length == 2 -%}
printf("{{field.human_name}} (0x%04X): ", {{varname}}->{{field.name}});
{%- elif field.length == 4 -%}
printf("{{field.human_name}} (0x%08X): ", {{varname}}->{{field.name}});
{%- elif field.length == 8 -%}
printf("{{field.human_name}} (0x%08X): ", {{varname}}->{{field.name}});
{%- endif %}
const map_entry_t* {{field.name}}_map_i = {{field['format']['bitfield']}};
while ({{field.name}}_map_i->string) {
  if (CHECK_BIT({{varname}}->{{field.name}}, {{field.name}}_map_i->value)) {
    printf("%s ", {{field.name}}_map_i->string);
  }
  ++{{field.name}}_map_i;
}
printf("\n");
{%- elif 'string' in field['format'] %}
printf("{{field.human_name}}: %s\n", {{varname}}->{{field.name}});
{%- endif %}
{%- else %}
{%- if field.length == 1 -%}
printf("{{field.human_name}}: %c\n", {{varname}}->{{field.name}});
{%- elif field.length == 2 -%}
printf("{{field.human_name}}: %h\n", {{varname}}->{{field.name}});
{%- elif field.length == 4 -%}
printf("{{field.human_name}}: %i\n", {{varname}}->{{field.name}});
{%- elif field.length == 8 -%}
printf("{{field.human_name}}: %li\n", {{varname}}->{{field.name}});
{%- endif %}
{%- endif %}
{%- endmacro %}
